<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Error Page</title>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <style>
            body{
                background-color: #ffd233;
            }
        </style>
    </head>
    <body class="red-theme">
        <a href="/inputEnrollment" class="home-button">Kembali ke Input Enrollment</a>
        <a href="/" class="home-button">Kembali ke Home</a>
        <div class="error-message">
            {{ pesan }}
        </div>        
    </body>
</html>